<%= form_with(model: candidatura, local: true) do |form| %>
    <% if candidatura.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(candidatura.errors.count, "error") %> prohibited this candidatura from being saved:</h2>
        <ul>
          <% candidatura.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :candidato_id %>
      <%= form.collection_select :candidato_id, Candidato.all, :id, :nome %>
    </div>
  
    <div>
      <%= form.label :vaga_id %>
      <%= form.collection_select :vaga_id, Vaga.all, :id, :titulo %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  