<h1>Candidaturas</h1>

<%= link_to 'Nova Candidatura', new_candidatura_path %>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @candidaturas.each do |candidatura| %>
      <tr>
        <td><%= candidatura.vaga.title %></td>
        <td><%= candidatura.vaga.description %></td>
        <td>
          <%= link_to 'Mostrar', candidatura_path(candidatura) %>
          <%= link_to 'Editar', edit_candidatura_path(candidatura) %>
          <%= link_to 'Deletar', candidatura_path(candidatura), method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>