<h1>Empregadores</h1>

<%= link_to 'Novo Empregador', new_empregadore_path %> <!-- Alterado -->
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @empregadores.each do |empregador| %>
      <tr>
        <td><%= empregador.nome %></td>
        <td><%= empregador.email %></td>
        <td>
          <%= link_to 'Mostrar', empregadore_path(empregador) %> <!-- Alterado -->
          <%= link_to 'Editar', edit_empregadore_path(empregador) %> <!-- Alterado -->
          <%= link_to 'Deletar', empregadore_path(empregador), method: :delete, data: { confirm: 'Você tem certeza?' } %> <!-- Alterado -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>